<div class="w-full">
  <div class="flex flex-row justify-between">
    <a href=""><img src="assets/images/logo.png" alt="" class="w-28"></a>
    <ul class="nav-menu hidden md:inline-flex space-x-6 text-white text-lg font-bold">
      <li><a href="" class="nav">MSH</a></li>
      <li><a href="" class="nav">COMS </a></li>
      <li><a href="" class="nav">FMMS</a></li>
      <li><a href="" class="nav">Dashboard</a></li>
    </ul>
    <a href="" class="text-[#f9fcfc] h-12 w-12 text-xl border-[#f9fcfc] border-4 rounded-full pl-1 pt-1 ">MIL</a>
  </div>
</div>
