<div class="relative bg-cover bg-no-repeat w-full h-screen" style="background-image:url('/assets/images/coms.svg')">
</div>
<section class="w-full absolute top-0 h-screen bg-[#323e61]/80 ">
  <div class="container mx-auto pt-6">
    <app-header></app-header>
    <div class="flex justify-between mt-20">

      <div> <img src="assets/images/meter.jpg" alt="" class="rounded-3xl shadow "></div>
      <div class="text-center mt-16">
        <h1 class="text-6xl text-[#43d8db] font-bold">Customer Order Management (COMS)</h1>
        <p class="text-white text-center pt-2 text-xl">Stay in control of your electricity cost.</p>
        <div class="text-center pt-8">
          <a href="https://technician.meterservicehub.com/" class="btn animate-spin">Get Started</a>
        </div>
      </div>

    </div>

  </div>
</section>
