<div class="relative bg-cover bg-no-repeat w-full h-screen" style="background-image:url('/assets/images/mojec.jpg')">
</div>
<section class="w-full absolute top-0 h-screen bg-[#323e61]/90 ">
  <div class="container mx-auto pt-6">
    <app-header></app-header>
    <div class="flex justify-between mt-10">
      <div>
        <img src="assets/images/hero.png" alt="" class="animate-pulse">
      </div>
      <div class="mt-40">
        <h1 class="text-6xl text-[#43d8db] font-bold">Metering Service Hub</h1>
        <p class="text-white text-center pt-2 text-xl">Stay in control of your electricity cost.</p>
        <div class="text-center pt-8">
          <a href="https://technician.meterservicehub.com/" class="btn animate-spin">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <section>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="relative bg-cover bg-no-repeat w-full h-screen"
        style="background-image:url('/assets/images/mojec.jpg')">
      </div>
      <div class="w-full absolute top-0 h-screen bg-black/75 ">
        <div class="container mx-auto pt-6">
          <div class="flex flex-row justify-between">
            <a href="#"><img src="assets/images/logo.png" alt="" class="w-16"></a>
            <a href="#"
              class="text-[#f9fcfc] h-12 w-12 text-xl border-[#f9fcfc] border-4 rounded-full pl-1 pt-1">MIL</a>
          </div>
          <div class="flex justify-between mt-10">
            <div>
              <img src="assets/images/hero.png" alt="">
            </div>
            <div class="mt-40">
              <h1 class="text-6xl text-[#43d8db] font-bold">Metering Service Hub</h1>
              <p class="text-white text-center pt-2 text-xl">Stay in control of your electricity cost.</p>
              <div class="text-center pt-8">
                <a href="https://technician.meterservicehub.com/" class="btn">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="relative bg-cover bg-no-repeat w-full h-screen"
        style="background-image:url('/assets/images/mojec.jpg')">
      </div>
      <div class="w-full absolute top-0 h-screen bg-black/75 ">
        <div class="container mx-auto pt-6">
          <div class="flex flex-row justify-between">
            <a href="#"><img src="assets/images/logo.png" alt="" class="w-32"></a>
            <a href="#"
              class="text-[#f9fcfc] h-12 w-12 text-xl border-[#f9fcfc] border-4 rounded-full pl-1 pt-1">MIL</a>
          </div>
          <div class="flex justify-between mt-10">
            <div>
              <img src="assets/images/hero.png" alt="">
            </div>
            <div class="mt-40">
              <h1 class="text-6xl text-[#43d8db] font-bold">Metering Service Hub</h1>
              <p class="text-white text-center pt-2 text-xl">Stay in control of your electricity cost.</p>
              <div class="text-center pt-8">
                <button class="btn">Get Started</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="relative bg-cover bg-no-repeat w-full h-screen"
        style="background-image:url('/assets/images/mojec.jpg')">
      </div>
      <div class="w-full absolute top-0 h-screen bg-black/75 ">
        <div class="container mx-auto pt-6">
          <div class="flex flex-row justify-between">
            <a href="#"><img src="assets/images/logo.png" alt="" class="w-32"></a>
            <a href="#"
              class="text-[#f9fcfc] h-12 w-12 text-xl border-[#f9fcfc] border-4 rounded-full pl-1 pt-1">MIL</a>
          </div>
          <div class="flex justify-between mt-10">
            <div>
              <img src="assets/images/hero.png" alt="">
            </div>
            <div class="mt-40">
              <h1 class="text-6xl text-[#43d8db] font-bold">Metering Service Hub</h1>
              <p class="text-white text-center pt-2 text-xl">Stay in control of your electricity cost.</p>
              <div class="text-center pt-8">
                <button class="btn">Get Started</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="relative bg-cover bg-no-repeat w-full h-screen"
        style="background-image:url('/assets/images/mojec.jpg')">
      </div>
      <div class="w-full absolute top-0 h-screen bg-black/75 ">
        <div class="container mx-auto pt-6">
          <div class="flex flex-row justify-between">
            <a href="#"><img src="assets/images/logo.png" alt="" class="w-32"></a>
            <a href="#"
              class="text-[#f9fcfc] h-12 w-12 text-xl border-[#f9fcfc] border-4 rounded-full pl-1 pt-1">MIL</a>
          </div>
          <div class="flex justify-between mt-10">
            <div>
              <img src="assets/images/hero.png" alt="">
            </div>
            <div class="mt-40">
              <h1 class="text-6xl text-[#43d8db] font-bold">Metering Service Hub</h1>
              <p class="text-white text-center pt-2 text-xl">Stay in control of your electricity cost.</p>
              <div class="text-center pt-8">
                <button class="btn">Get Started</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</section> -->


<section class="w-full bg-sky-50 pb-16">
  <div class="container mx-auto">
    <div class="pt-20">
      <p class="md:text-[40px] text-[36px] font-bold">Metering Service Hub</p>
    </div>
    <div class="md:flex md:flex-row md:justify-between">
      <div class="md:w-[50%] md:pl-8 pl-4">
        <div class="flex flex-row pt-16">
          <div class="">
            <p class="bg-[#b08d48] text-white flex items-center justify-center rounded-full"
              style="height: 40px; width: 40px;">01</p>
            <div class="pt-2 flex items-center justify-center">
              <div class="border-l h-20 border-slate-900 "></div>
            </div>
          </div>
          <div class="pl-6">
            <p class="text-[16px] md:text-[20px] font-bold">Sign up on mobile app or web</p>
            <p class="pt-3 text-gray-600">Enter your mobile number, a 6-digit OTP Code will be sent to your
              mobile number via text. Enter the 6-digit code received.</p>
          </div>
        </div>
        <div class="flex flex-row pt-2">
          <div class="">
            <p class="bg-[#b08d48] text-white flex items-center justify-center rounded-full"
              style="height: 40px; width: 40px;">02</p>
            <div class="pt-2 flex items-center justify-center">
              <div class="border-l h-20 border-slate-900 "></div>
            </div>
          </div>
          <div class="pl-6 ">
            <p class="text-[16px] md:text-[20px] font-bold">Register an account</p>
            <p class="pt-3 text-gray-600">If you haven't registered before by clicking on "Profile" and enter
              all required details.</p>
          </div>
        </div>
        <div class="flex flex-row pt-2">
          <div class="">
            <p class="bg-[#b08d48] text-white flex items-center justify-center rounded-full"
              style="height: 40px; width: 40px;">03</p>

          </div>
          <div class="pl-6">
            <p class="text-[16px] md:text-[20px] font-bold">Appy for Product Lease program (PLP)</p>
            <p class="pt-3 text-gray-600">Click on "Product Lease Program”, Request a PLP, Fill the PLP Form and
              Submit.</p>
          </div>
        </div>
        <div class="pt-16  text-center md:text-left">
          <a href="https://technician.meterservicehub.com/" class="py-3 px-16 rounded font-bold text-white "
            style="background-color: #b08d48">Get started</a>
        </div>
      </div>
      <div class="w-[50%]  ">
        <img src="assets/images/msh2.jpg" class="rounded-3xl shadow-2xl ml-32">
        <div class="flex justify-center space-x-5 mt-5">
          <img src="assets/images/google.svg" alt="" class="w-32">
          <img src="assets/images/apple.svg" alt="" class="w-32">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="w-full bg-[#323e61] pb-16 text-white">
  <div class="container mx-auto">

    <div class="md:flex md:flex-row md:justify-between pt-20">
      <div class="w-[50%] pt-24">
        <img src="assets/images/hero2.jpg" class="w-[80%] rounded-3xl">
      </div>

      <div class="md:w-[50%] md:pl-8 pl-4">
        <div class="">
          <p class="md:text-[40px] text-[36px] font-bold">Customer Order Management System (COMS)</p>
        </div>
        <div class="flex flex-row pt-16">
          <div class="">
            <p class="bg-[#b08d48] text-white flex items-center justify-center rounded-full"
              style="height: 40px; width: 40px;">01</p>
            <div class="pt-2 flex items-center justify-center">
              <div class="border-l h-20 border-slate-900 "></div>
            </div>
          </div>
          <div class="pl-6">
            <p class="text-[16px] md:text-[20px] font-bold">Sign up on mobile app or web</p>
            <p class="pt-3 ">Enter your mobile number, a 6-digit OTP Code will be sent to your
              mobile number via text. Enter the 6-digit code received.</p>
          </div>
        </div>
        <div class="flex flex-row pt-2">
          <div class="">
            <p class="bg-[#b08d48] text-white flex items-center justify-center rounded-full"
              style="height: 40px; width: 40px;">02</p>
            <div class="pt-2 flex items-center justify-center">
              <div class="border-l h-20 border-slate-900 "></div>
            </div>
          </div>
          <div class="pl-6 ">
            <p class="text-[16px] md:text-[20px] font-bold">Register an account</p>
            <p class="pt-3">If you haven't registered before by clicking on "Profile" and enter
              all required details.</p>
          </div>
        </div>
        <div class="flex flex-row pt-2">
          <div class="">
            <p class="bg-[#b08d48] text-white flex items-center justify-center rounded-full"
              style="height: 40px; width: 40px;">03</p>

          </div>
          <div class="pl-6">
            <p class="text-[16px] md:text-[20px] font-bold">Appy for Product Lease program (PLP)</p>
            <p class="pt-3">Click on "Product Lease Program”, Request a PLP, Fill the PLP Form and
              Submit.</p>
          </div>
        </div>
        <div class="pt-16  text-center md:text-left">
          <a [routerLink]="['/services']" class="py-3 px-16 rounded font-bold text-white "
            style="background-color: #b08d48">Get started</a>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="w-full bg-sky-50 pb-16">
  <div class="container mx-auto">
    <div class="pt-20">
      <p class="md:text-[40px] text-[36px] font-bold">Faulty Meter</p>
    </div>
    <div class="md:flex md:flex-row md:justify-between">
      <div class="md:w-[50%] md:pl-8 pl-4">
        <div class="flex flex-row pt-16">
          <div class="">
            <p class="bg-[#c6ab33] text-white flex items-center justify-center rounded-full"
              style="height: 40px; width: 40px;">01</p>
            <div class="pt-2 flex items-center justify-center">
              <div class="border-l h-20 border-slate-900 "></div>
            </div>
          </div>
          <div class="pl-6">
            <p class="text-[16px] md:text-[20px] font-bold">Sign up on mobile app or web</p>
            <p class="pt-3 text-gray-600">Enter your mobile number, a 6-digit OTP Code will be sent to your
              mobile number via text. Enter the 6-digit code received.</p>
          </div>
        </div>
        <div class="flex flex-row pt-2">
          <div class="">
            <p class="bg-[#b08d48] text-white flex items-center justify-center rounded-full"
              style="height: 40px; width: 40px;">02</p>
            <div class="pt-2 flex items-center justify-center">
              <div class="border-l h-20 border-slate-900 "></div>
            </div>
          </div>
          <div class="pl-6 ">
            <p class="text-[16px] md:text-[20px] font-bold">Register an account</p>
            <p class="pt-3 text-gray-600">If you haven't registered before by clicking on "Profile" and enter
              all required details.</p>
          </div>
        </div>
        <div class="flex flex-row pt-2">
          <div class="">
            <p class="bg-[#c6ab33] text-white flex items-center justify-center rounded-full"
              style="height: 40px; width: 40px;">03</p>

          </div>
          <div class="pl-6">
            <p class="text-[16px] md:text-[20px] font-bold">Appy for Product Lease program (PLP)</p>
            <p class="pt-3 text-gray-600">Click on "Product Lease Program”, Request a PLP, Fill the PLP Form and
              Submit.</p>
          </div>
        </div>
        <div class="pt-16  text-center md:text-left">
          <a [routerLink]="['/services']" class="py-3 px-16 rounded font-bold text-white "
            style="background-color: #c6ab33">Get started</a>
        </div>
      </div>
      <div class="w-[50%] hidden md:block">
        <img src="assets/images/hero3.jpg" class=" w-[80%] rounded-3xl pt-14">
      </div>
      <div class="md:hidden pt-16">
        <img src="assets/images/phone2.svg" class="object-center mx-auto">
      </div>
    </div>
  </div>
</section>

<section class="w-full bg-[#323e61] pb-16 text-white">
  <div class="container mx-auto">

    <div class="md:flex md:flex-row md:justify-between pt-20">
      <div class="w-[50%] hidden md:block">
        <img src="assets/images/hero.png">
      </div>
      <div class="md:hidden pt-16">
        <img src="assets/images/phone2.svg" class="object-center mx-auto">
      </div>
      <div class="md:w-[50%] md:pl-8 pl-4">
        <div class="">
          <p class="md:text-[40px] text-[36px] font-bold">Mojec Dashboard</p>
        </div>
        <div class="flex flex-row pt-16">
          <div class="">
            <p class="bg-[#b08d48] text-white flex items-center justify-center rounded-full"
              style="height: 40px; width: 40px;">01</p>
            <div class="pt-2 flex items-center justify-center">
              <div class="border-l h-20 border-slate-900 "></div>
            </div>
          </div>
          <div class="pl-6">
            <p class="text-[16px] md:text-[20px] font-bold">Sign up on mobile app or web</p>
            <p class="pt-3 ">Enter your mobile number, a 6-digit OTP Code will be sent to your
              mobile number via text. Enter the 6-digit code received.</p>
          </div>
        </div>
        <div class="flex flex-row pt-2">
          <div class="">
            <p class="bg-[#b08d48] text-white flex items-center justify-center rounded-full"
              style="height: 40px; width: 40px;">02</p>
            <div class="pt-2 flex items-center justify-center">
              <div class="border-l h-20 border-slate-900 "></div>
            </div>
          </div>
          <div class="pl-6 ">
            <p class="text-[16px] md:text-[20px] font-bold">Register an account</p>
            <p class="pt-3">If you haven't registered before by clicking on "Profile" and enter
              all required details.</p>
          </div>
        </div>
        <div class="flex flex-row pt-2">
          <div class="">
            <p class="bg-[#b08d48] text-white flex items-center justify-center rounded-full"
              style="height: 40px; width: 40px;">03</p>

          </div>
          <div class="pl-6">
            <p class="text-[16px] md:text-[20px] font-bold">Appy for Product Lease program (PLP)</p>
            <p class="pt-3">Click on "Product Lease Program”, Request a PLP, Fill the PLP Form and
              Submit.</p>
          </div>
        </div>
        <div class="pt-16  text-center md:text-left">
          <a [routerLink]="['/services']" class="py-3 px-16 rounded font-bold text-white "
            style="background-color: #b08d48">Get started</a>
        </div>
      </div>

    </div>
  </div>
</section>
